################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.meta
*.meta
/Assets/IWebServiceRequestAsync.cs
/Assets/IWebServiceRequest.cs
/Assets/ISettings.cs
/Assets/ILog.cs
/Assets/IDefaultSettings.cs
/Assets/IDataStorage.cs
/Assets/IBridge.cs
/Assets/IAsset.cs
/Assets/EmotionDetectionAssetSettings.cs
/Assets/EmotionDetectionAsset.cs
/Assets/BaseSettings.cs
/Assets/BaseAsset.cs
/Assets/AssetManager.cs
/Assets/Extensions.cs
/Assets/Messages.cs
*.flare
*.renderTexture
/Assets/RageVersionInfo.cs
/Assets/RageExtensions.cs
/Library
/ProjectSettings
/Temp/UnityVS_obj/Debug
/Emotions.VC.db
